* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(145, 139, 139);
}
#contenedor{
    width: 80%;
    margin: auto;
    height: 1200px;
}
#navegador{
    position: sticky;
    top: 0;
    background-color:rgb(145, 139, 139);
    z-index: 20;
}
h1{
    font-size: 5em;
    letter-spacing: 7px;
    padding: 20px;
    font-style: italic;
    text-align: center;
}
h1 a{
    color: var(--color4);
    text-decoration: none;
}
.menu{
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin:20px;
}
.menu li{
    padding:10px
}
.menu li a{
    text-decoration: none;
    padding:10px;
    text-transform: uppercase;
    color:rgb(0, 0, 0)
}
.menu li a:hover{
    opacity: 0.5;
}
#contenido{
    padding:20px;
}
#moto img{
    width: 100%;
}
h2 {
    font-size: 1.5em;
    margin: 20px;
    text-align: center;
}
#contenido p {
    text-align: justify;
    padding: 20px;
    color: var(--color1);
}
#moto2 {
    float: left;
    margin: 10px;
}
#k {
    float: right;
    margin: 10px;
}
.redes{
    display: flex;
    list-style-type: none;
    justify-content: center;
    
}
.redes li a{
    padding: 5px;
}
.redes li a:hover{
    opacity: 0.5;
}
.redes li a img{
    filter: invert(100%);
}
/*galeria*/
#galeriaa {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.hk {
    width: 30%;
    margin: 10px;
    text-align: center;
}
.hk img {
    width: 100%;
    box-shadow: 5px 5px 5px rgb(61, 66, 66);
}
#contenido .hk p {
    text-align: center;
    color: var(--color1);
    font-style: italic;
}
/*videos*/
.video {
    border: 4px double var(--color4);
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin-top: 10px;
    box-shadow: 5px 5px 5px var(--color4);
    z-index: 10;
}
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*nosotros*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: larger;
}
.container {
    width: 80%;
    margin: auto;
    height:1600px;
    margin: auto;
    overflow: hidden;
}

.header {

    padding-top: 30px;
    min-height: 70px;
    border-bottom: #000000 3px solid;
    text-align: center;
}


.content {
    padding: 20px;
    margin-top: 20px;
    text-align: justify;
}

.content h2 {
    color: #1d1515;
    text-align: center;
    font-size: 42px;
}

.text-and-image {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.text {
    width: 65%;
    color: #000000;
    line-height: 1.6;
}

.side-image {
    width: 30%;
    height: auto;
}

.side-image img {
    margin: auto;
    width: 90%;
    height: 500px;
    object-fit: cover;
}

.images {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.images img {
    width: 30%;
    height: auto;
}

.footer {
    color: #000000;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.footer p {
    margin: 0;
    font-size: 14px;
}
/*contactanos*/
.container1 {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: linear-gradient(to right, #969292, #5a4c4c);
}

.contact-info1, .comment-form1 {
    margin-bottom: 20px;
}

h2 {
    color: #271f1f;
    border-bottom: 2px solid #1f1e64;
    padding-bottom: 5px;
    font-size: 50px;
}
h3{
    font-size: 40px;
}
.info-block1 p {
    margin: 5px 0;
    color: #ffffff;
    font-size: 30px;
}

.contact-info1 img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 10px 0;
}

.comment-form1 form {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: 30px;
}
.comment-form1 label {
    margin-top: 10px;
}

.comment-form1 input, .comment-form1 textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.comment-form1 button {
    margin-top: 15px;
    padding: 10px;
    background-color: #3d2f2f;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.comment-for1 button:hover {
    background-color: #b22222;
}
.map1 iframe {
    width: 90%;
    border: none;
    margin-top: 20px;
    justify-content: center;
    margin-left: 70px;
}
